<!doctype html>
<html lang="en" style={get_theme(@theme)}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag @page_title, suffix: " · by Brett Beatty" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-theme flex flex-col min-h-screen max-w-screen-sm mx-auto text-theme-dark">
    <header class="text-center text-xl">
      <h1><%= @page_title %></h1>
    </header>
    <main class="flex flex-col flex-grow">
      <%= @inner_content %>
    </main>
    <footer class="text-center text-xs">
      <h6>by Brett Beatty</h6>
    </footer>
  </body>
</html>
